<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
     Review
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/animes"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let review of reviews" (click)="openNote(review)">
      <ion-label>
        {{ review.title }}
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addNote()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>