<!--<!DOCTYPE html>
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
     Profile
    </ion-title>
   </ion-toolbar>
</ion-header>

<ion-content>

	<div class="container">
		<div class="overlay">
		<ion-avatar (click)="openOptionSelection()">
			<img *ngIf="profile?.imageUrl; else placheolder_avatar;" [src]="profile.imageUrl" />
			<ng-template #placheolder_avatar>
				<div class="fallback">
					<p>Select avatar</p>
				</div>
			</ng-template>
		</ion-avatar>
		</div>
		<ion-button (click)="openFypEdit()" >Edit Fyp</ion-button>
		<ion-button  (click)="btnClick()" >Make a Post</ion-button>
	</div>

	<ion-card *ngFor="let item of post">
		<ion-card-header>
			<ion-card-title>
				{{name}}
			</ion-card-title>	
		</ion-card-header>
			
		<ion-card-content>
			<img [src]="item.postImage">
			<p>{{item.desc}}</p>
		</ion-card-content>

	</ion-card>
	<ion-footer>
		
	</ion-footer>
</ion-content>
-->


	


<ion-item>
    <ion-avatar slot="start" (click)="openOptionSelection()">
		<img *ngIf="profile?.imageUrl; else placheolder_avatar;" [src]="profile.imageUrl" />
		<ng-template #placheolder_avatar>
			<div class="fallback">
				<p>Select avatar</p>
			</div>
		</ng-template>
    </ion-avatar>
    <ion-label>
		<ion-button (click)="openFypEdit()" >Edit Fyp</ion-button>
		<ion-button  (click)="btnClick()" >Make a Post</ion-button>
    </ion-label>
  </ion-item>
<ion-content>
<ion-grid>
<ion-row class="ion-justify-content-center" *ngFor="let item of post">
<ion-card>
	<img [src]="item.postImage">
	<ion-card-content>
		{{item.desc}}
	</ion-card-content>	
	  <ion-footer>
		<ion-col center text-center>
		  <button>
			<ion-icon name="thumbs-up"></ion-icon>
			<div>l</div>
		  </button>
		</ion-col>	
	</ion-footer>
  </ion-card>
</ion-row>	
</ion-grid>
</ion-content>