
<!--
  Code to display and style how the data is presented to the
  user
-->


<ion-content>
  <ion-list>
    <!--
      The routerLink will help us route to the detials page of the anime with their
      ID 
    -->
    <ion-item button *ngFor="let item of animes" [routerLink]="item.mal_id">
      <!--
        Ion avatar is an ionic tag that will add a little picture box on the side
        of the item
      -->
      <ion-avatar slot="start">
        <img [src]="item.images.jpg.image_url">
      </ion-avatar>
      <ion-label>{{item.title}}
          <p>{{item.rating}}</p>
          <p>Listed Episodes:{{item.episodes}}</p>
          <p *ngFor="let studio of item.studios">Studio: {{studio.name}}</p>
      </ion-label>

      <ion-badge slot="end">Score: {{item.score}}</ion-badge>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content 
    loadingSpinner="bubbles"
    loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
