<ion-tabs>

  <ion-tab-bar slot="bottom" color="primary">

    
    <ion-tab-button tab="animes">
      <ion-icon name="happy"></ion-icon>
      <ion-label>For You</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="top-anime">
      <ion-icon name="podium"></ion-icon>
      <ion-label>Trending</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dashboard">
      <ion-icon name="cog"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>